.card:hover {
  transform: scale(1.05);
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background: #FAF9F6;
 	flex-wrap: wrap;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

img {
	display: block;
	width: 100%;
}

h2 {
	margin: 0;
	font-size: 1.4rem;
  padding: 1rem;
}

.card {
	display: flex;
	flex-wrap: wrap;
	background: #C3B1E1;
	max-width: 30rem;
	width: 100%;
	border-radius: 0.8rem;
	overflow: hidden;
	border: 0.3rem solid;
  margin: 1rem;
}

.card img {
	object-fit: cover;
	flex: 1 1 300px;
	outline: 0.3rem solid;
}

.card a {
	display: inline-block;
	color: black;
	padding: 0.5rem 1rem;
	background: hsl(187 75% 64%);
	border-radius: 0.6rem;
	font-weight: 700;
	border: 0.35rem solid;
}

.card {
  padding: 5rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
